*{
    margin: 0px;
}
body{
    background-image: linear-gradient(to right, purple, orange);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    background-size: cover;
}

.select{
    display:flex;
    
}

.wrapper{
    align-items: center; 
    justify-content: center;
    text-align: center;
    height:100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
   
}

h1{
    text-align: center;
    padding-top: 50px;
}

.container{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    height: 300px;
    width: 100%;
    margin: 0px;
    /* align-content: flex-end; */
    text-align: center;
    transition:0.07s;
    align-self: center;
    overflow:hidden;
}

.box{
    height: 300px;
    width: 300px;
    align-content: center;
    background-color:rgba(146, 120, 161, 0.699);
    padding-top: 10px;
    border-radius: 15px 15px 0 0;
    align-self: center;
    
    
}

.attribute{
    background-color: rgba(245, 245, 245, 0.342);
    width: 300px;
    align-content: center;
    display:flex;
    justify-content: space-evenly;
   
}

#title{
    
}

.box3{
    display: flex;
    flex-wrap: wrap;
}